<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>OTUS Homework 15</display-name>
    <description>OTUS Homework 15</description>

    <listener>
        <listener-class>ru.otus.SpringApplicationContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userDataSetServlet</servlet-name>
        <servlet-class>ru.otus.FrontEnd.UserDataSetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userDataSetServlet</servlet-name>
        <url-pattern>/userdataset</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>