<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="frontEndService" class="ru.otus.FrontEnd.FrontEndService" init-method="start" destroy-method="destroy">
        <constructor-arg value="0"/>
    </bean>

    <bean id="userDataSetService" class="ru.otus.FrontEnd.Service.UserDataSetServiceImpl">
        <constructor-arg ref="frontEndService"/>
    </bean>

</beans>